<div class="container">
  <!-- <div class="row about"> -->
  <div class="about">
    <!-- <div class="col lg-6 md-6 sm-12 imagen"> -->
    <div class="imagen">
      <img src="../../../assets/IMG_0353_2.jpg" alt="" />
    </div>
    <!-- <div class="col lg-6 md-6 sm-12"> -->
    <div class="texto">
      <h2>Sobre mí</h2>
      <p>
        Mi nombre es Javier Fernández, soy un amante de la tecnología y, desde
        Julio de 2023, soy desarrollador web Junior. Tras haber dedicado
        prácticamente toda mi vida a estudiar música y dedicarme a la docencia
        durante 10 años, he decidido tomar otro rumbo en mi vida profesional y
        dedicarme a la programación, campo que desconocía en profundidad pero
        que siempre me habia despertado curiosidad, así como otros campos de la
        informática en general.
      </p>
      <p>
        Empecé a formarme de manera autodidacta en Enero de 2023, mediante
        cursos gratuitos en Internet, asentando así los conceptos básicos de la
        programación y realizando algunos cursos básicos en tecnologías como
        HTML/CSS, JAVA o JavaScript.Pero la sensación de aprendizaje no me
        convencía y por ese motivo decidí realizar un Bootcamp en desarrollo web
        FullStack, en concreto en la escuela ID-Bootcamps.
      </p>
      <p>
        Tras más de 3 meses de intenso aprendizaje y trabajo diario, puedo decir
        que he asentado las bases de la programación en las tecnologías del
        stack MEAN (MongoDB y MySQl, Express, Angular y Node.js). Para
        complementar mi formación, continuo mi formación en otras tecnologías
        como Python, PHP y Laravel y así tener un perfil más completo como
        Desarrollador Fullstack Junior. Estoy deseando encontrar mi primera
        experiencia laboral y continuar aprendiendo y expandiendo mis
        conocimientos de la mano de grandes profesionales que estoy seguro que
        me encontraré en un futuro próximo.
      </p>
    </div>
  </div>
  <div class="row skills">
    <app-skills></app-skills>
  </div>
</div>
