.container {
    margin-top: 20px;
}

.about {
    border: 2px solid var(--azulCV);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row ;
    width: 100%;
    height:auto;
    gap: 2rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: .8rem; */
}

.texto {
    margin-top: 40px;
    padding: 10px;
    text-align: justify;
}

.imagen img {
    display: block;
    object-fit: scale-down;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 11%;
    margin-bottom: 20px;
}
.skills {
    margin-top: 20px;
    border: none;
    min-width: 100%;
}

@media screen and (max-width: 900px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen img {
        height: auto;
        width: 100%;
        margin-top: 0;
    }
}
