.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--azulCV);
    color: var(--blanco);
    border-radius: 10px;
    z-index: 0;
}
.row{
    align-items: center;

}
.navbar {
    /* background-color: transparent; */
    color: var(--blanco);
    padding: 10px;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar ul {
    margin: 0;
    padding: 0px 10px;
}
.nav-item {
    display: inline-block;
    margin: 0 10px;
}
.nav-link {
    text-decoration: none;
    color: #333;
    color: var(--blanco);
    text-align: center;
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 7px;
    transition: background-color 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: var(--colorSecundario);
}
