<div class="container">
    <!-- TODO AJUSTAR EL HERO PARA QUE ESTÉ DE FONDO (MENU POR ENCIMA) -->
    <div class="hero">
        <!-- <img src="../../../assets/wallpaperflare.com_wallpaper.jpg" alt="imagen-hero"> -->
    </div>
    <div class="about">
        <h1>¡Hola! Soy Javier Fernández</h1>
        <h2>Fullstack Developer</h2>
<!-- TODO REVISAR TEXTO -->
        <p>Desarrollador Web Junior Full-stack. Autodidacta, exigente y constante. Mi experiencia profesional previa me ha permitido depurar mi capacidad de organización y priorización de tareas, así como la gestión del estrés. Me gusta el trabajo en equipo y el trato con todo tipo de personas. Me considero una persona creativa y curiosa con gran capacidad para adaptarme a nuevos entornos y/o tencologías.</p>
    </div>
<div class="skills">
<app-skills></app-skills>
</div>

<div class="projects">
<app-projects></app-projects>
</div>

</div>
