.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
/* .hero{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    max-height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
}
.hero img {
    width: 100%;
    height: 50vh;
    border-radius: 25px;
    object-fit: cover;
} */
.hero {
    position: relative;
    /* Cambiado a "relative" para que los elementos internos fluyan dentro */
    z-index: 1;
    background-image: url('../../../assets/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    /* max-height: 30vh; */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}

/* Opcional: Si deseas agregar un fondo semitransparente */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(223, 237, 248, 0.5);
    border-radius: 25px;
    z-index: -1;
}
/* TODO CORREGIR ANCHO DEL ABOUT EN RESPONSIVE SOBRETODO */
.about {
margin: 0 auto;
margin-top: 20px;
padding: 20px;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
min-width: 100%;
border: 2px solid goldenrod;
border-radius: 25px;
}
.about p{
    text-align: justify;


}
.skills{
    margin-top: 15px;
}
.projects {
    margin-bottom: 15px;
}
.CV {
    width: 50%;
    background-color: var(--azulCV);
    color: var(--blanco);
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.CV:hover{
background-color: var(--colorSecundario);
}

.CV i {
 font-size: 30px;
}

@media (max-width: 768px) {

    .container{
        width: 100%;
    }
    .about {
        width: 100%;
        min-width: 80%;
            margin: 0 auto;
            margin-top: 20px;
            padding: 20px;



        }
}
