.container{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid goldenrod;
    border-radius: 25px;
}
.container h2{
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
    color: goldenrod;
    padding: 10px;
}

.skills-detail {
    flex-basis: calc(20.5% - 20px);
    /* Ajustamos el ancho con margen */
    margin: 10px;
    /* Reducimos el margen para hacerlo más compacto */
    box-sizing: border-box;
    text-align: center;
    /* Centramos el contenido */
}

.skills-detail img {
    width: 100%;
    max-width: 80px;
    /* Limitamos el ancho de la imagen */
    display: block;
    margin: 0 auto 10px;
    /* Añadimos margen inferior */
}
